################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/casolution.web/bin/Debug/net5.0
