


<script src="~/preloader/js/preloader.js"></script>

<script type="text/javascript">
    var x = 0;
    $(window).load(function () {

        $(".se-pre-con").fadeOut("slow");
        x = 1;
    });




</script>

<link href="~/preloader/css/load_page.css" rel="stylesheet" />

<!--page load-->
<div class="se-pre-con" style="">
    <div class="se-pre-con-a" style="width:50px;height: 50px;"></div>

</div>