<div class="row" style="height:80px; background-color:#34495E"></div>
<div class="container" style="font-family: SignikaNegative-Regular; background-color: white; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px ">

    <div class="row" style="/*  background-image:url('/images/projects/header-bg2.jpg') ;background-size: cover */">
        <div class="container " style="height: 100px"></div>
        <div class="col-md-8 p-0">
            <div class="container " style="height: 100px"></div>
            <h2 class="container">VU Meter</h2>
            <div class="container">
                <p>This application display your PC sound level</p>
                <br />
                <h4>Category</h4>
                <p>Utility</p>
                <br />
                <h4>Features</h4>
                <ul>
                    <li>Indicate system sound levels</li>
                    <li>Change system sound auto</li>
                    <li>Customize thems</li>
                </ul>
                <br />
                <h4>Price</h4>
                <p>Free</p>
                <br />
                <h4>Additional Links</h4>
                <a href="/storage/vumeter/VU Meter Application.pdf" target="_blank" class="btn btn-primary">Read More</a>
                &ensp;
                <a href="/storage/vumeter/VuMeterSetup.exe" class="btn btn-info">Download</a>
                <br />
            </div>
        </div>

        <div class="col-md-4 p-0">
            <img src="/storage/vumeter/images/setup.jpg" />
            <img src="/storage/vumeter/images/hbar.jpg" />
            <img src="/storage/vumeter/images/hbuilbs.jpg" />
            <img src="/storage/vumeter/images/hbuilbwhite.jpg" />
            <img src="/storage/vumeter/images/setting.jpg" />
            <img src="/storage/vumeter/images/vbuilbs.jpg" />
        </div>

        <div class="container " style="height: 50px"></div>
    </div>

</div>

