<header class="header-area header-sticky" style="z-index: 101">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav" style="text-align: left">
                    <ul class="" id="callerMenu" style="top:0; z-index: 9; position: absolute;right: 24px;">
                        <li><a id="fb"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a id="gp"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a id="em"><i class="fas fa-paper-plane"></i></a></li>
                        <li><a id="sk"><i class="fab fa-skype"></i></a></li>
                        <li><a id="cl" href="www.casln.com"><i class="fas fa-phone-alt"></i>&nbsp;071-549 6663</a></li>
                    </ul>

                    <!-- ***** Logo Start ***** -->
                    <a  asp-action="/" class="logo"><img src="~/images/codexwide.png" style="padding-bottom: 20px;width: 54px;"> Codexwide</a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul id="nav-lst" class="nav" style="text-align: center">
                        @* <li class="scroll-to-section"><a asp-action="home" class="active"><i class="fas fa-home"></i>&ensp;Home</a></li> *@

                        <li style="" class="scroll-to-section"><a asp-action="home" class="active"><i class="fas fa-home"></i>&ensp;Home</a></li>
                        <li class="submenu">
                            <a href="#">
                                Services@*<i class="fas fa-angle-down"></i>*@
                            </a>
                            <ul>
                                <li><a href="/services/web-sites-designing">WebSites Designing</a></li>
                                <li><a href="/services/software-development">Software Development</a></li>
                                <li><a href="/services/search-engine-optimisation">Search Engine Optimisation</a></li>
                                <li><a href="/services/system-analyze-and-design">System Analyze & Design</a></li>
                                <li><a href="/services/bussiness-process-re-engineering">BP Re-Engineering</a></li>
                                <li><a href="/services/case-studying">Case Studying</a></li>
                                <li><a href="/services/3rd-party-integrations">3rd Party Integrations</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">Projects@*<i class="fas fa-angle-down"></i>*@
                            </a>
                            <ul>
                                <li><a href="">VU Meter</a></li>
                                <li><a href="">Color Maker</a></li>
                                <li><a href="">POS System</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="">Plans</a></li>
                        <li class="scroll-to-section"><a asp-action="about">About</a></li>
                        <li class="scroll-to-section"><a asp-action="contact">Contact</a></li>

                     @*    <li class="scroll-to-section"></li>                                               
                        <li class="scroll-to-section scroll-to-section-signin-override"><a asp-action="contact">SignIn</a></li>
                        <li class="scroll-to-section scroll-to-section-signup-override"><a asp-action="contact">SignUp</a></li> *@
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>