
<div class="container" style="font-family: SignikaNegative-Regular; background-color: white; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px ">
    <div class="row" style="">
        <img src="~/images/aboutUs/about-cover.jpg" style="width:100%;" />
    </div>
    <div class="row">
        <div class="col-12 pt-3 pb-3" style="">
            <h2 class=" mt-2 mb-2"><img src="/images/ca-solutions.png" style="width: 61px;"> &ensp; CA Solutions</h2>
            <p class=" mt-2 mb-2">
                Provide 100% client based solutions cost effectively. Improve and release more productive system with minimum complexity. Always tried to give the high quality product for solved your problem's.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pt-2 pb-2">
            <div class="col-12 card p-3">
                <h2 class=" mt-2 mb-2"><i class="fa fa-eye" style=""></i> &ensp; Vision</h2>
                <p class=" mt-2 mb-2">
                    Provide 100% client based solutions cost effectively. Improve and release more productive system with minimum complexity. <br />Always tried to give the high quality product for solved your problem's.
                </p>
            </div>
        </div>
        <div class="col-md-6 pt-2 pb-2">
            <div class="col-12 card p-3">
                <h2 class=" mt-2 mb-2"><i class="fa fa-bullseye" style=""></i> &ensp; Mission</h2>
                <p class=" mt-2 mb-2">
                    Adding more technologies and will increment our methodologies. Keep standard way for a - z processes developing systems. Follow more creativeness and effectiveness of paths for successful our processes.
                </p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12" style="">
            <h2 class=" mt-4 mb-2"><i class="fa fa-road" style=""></i> &ensp; Technology Stack</h2>
            <p class=" mt-2 mb-2">
                Adding more technologies and will increment our methodologies. Keep standard way for a - z processes developing systems. Follow more creativeness and effectiveness of paths for successful our processes.
            </p>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/vs.png" />&ensp; Visual Studio</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/ajax.png" />&ensp; Ajax</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/netcore.png" />&ensp; .Net Core</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/mssql.png" />&ensp; SQL Server</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/mysql.png" />&ensp; My SQL</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/vue.png" />&ensp; Vue Js</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/html.png" />&ensp; HTML</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/php.png" />&ensp; PHP</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/angular.png" />&ensp; Angular</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/jquery.png" />&ensp; Jquery</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/vscode.jpg" />&ensp; VS Code</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/bootstrap.png" />&ensp; Bootstrap</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/csharp.png" />&ensp; C Sharp</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/crystalreports.png" />&ensp; Crystal Report</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/css.png" />&ensp; CSS</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/azure.jpg" />&ensp; Azure</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/laravel.png" />&ensp; Laravel</li>
                            <li class="list-group-item"><img class="tech-logo" src="~/images/aboutUs/technology/vb.jpg" />&ensp; VB .NET</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="height:20px"></div>
</div>

<style>


    .tech-logo {
        width: 35px;
    }
</style>
