@{
    ViewData["Title"] = "Home";
}

<div class="" style="height:auto">
    @await Html.PartialAsync("~/Views/Components/SliderHomePage/_SliderHomePage.cshtml")

    <div class="container pr-0 pl-0" style="background: #fff; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">

        <div class="col-12 col-12 pt-5 pb-0">
            <h3 style="text-align:center">On going Projects</h3>
        </div>

        <div id="projects" class="container" style="height:auto; background-color:transparent">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12" style="">
                    <div class="card" style=" margin-top: 30px;">
                        <img class="card-img-top project-card-img" src="~/projectCards/codexwide-project.png" alt="Card image cap" style="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <br />
                            <a role="button" href="#" class="btn btn-outline-dark btn-sm">More About</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12" style="">
                    <div class="card" style=" margin-top: 30px;">
                        <img class="card-img-top project-card-img" src="~/projectCards/codexwide-project.png" alt="Card image cap" style="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <br />
                            <a role="button" href="#" class="btn btn-outline-dark btn-sm">More About</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12" style="">
                    <div class="card" style=" margin-top: 30px;">
                        <img class="card-img-top project-card-img" src="~/projectCards/codexwide-project.png" alt="Card image cap" style="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <br />
                            <a role="button" href="#" class="btn btn-outline-dark btn-sm">More About</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12" style="">
                    <div class="card" style=" margin-top: 30px;">
                        <img class="card-img-top project-card-img" src="~/projectCards/codexwide-project.png" alt="Card image cap" style="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <br />
                            <a role="button" href="#" class="btn btn-outline-dark btn-sm">More About</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-12 pt-5 pb-3">
            <h3 style="text-align:center">Available Plans</h3>
        </div>
        @await Html.PartialAsync("~/Views/Components/PriceList/_PriceList.cshtml")



        <div class="col-12 col-12 pt-5 pb-3">
            <h3 style="text-align:center">Client Feedbacks</h3>
        </div>

        @await Html.PartialAsync("~/Views/Components/TestimonialSlider/_TestimonialSlider.cshtml")


        <div class="container" style="background-color:transparent;height:20px">

        </div>

    </div>
</div>

