@{
}

<div>
    <div class="container" style="background: #fff; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;height:auto">
        <div class="row" style="">
            <img src="~/images/moreAbout/MoreAbout.jpg" style="width:100%;" />
        </div>

        <div class="col-12 col-12 pt-3 pb-3">
            <h3 style="text-align:center">More About</h3>
        </div>


        <div class="container p-0">
            <h4 class="">Software Development</h4>
            <p>We are developing sofware systems totally based on your requirments. You can customize everything.</p>
        </div>
        <div class="container p-0" style="height:30px"></div>
        <div class="container p-0">
            <h4>Web Site Design</h4>
            <p>You can make your own Personal, Professional and Business web sites just calling us.</p>
        </div>
        <div class="container p-0" style="height:30px"></div>
        <div class="container p-0">
            <h4>Help and Suppoort 24x7</h4>
            <p>We provide help and guidance for users and express your ideas using technology.</p>
        </div>
        <div class="container p-0" style="height:30px"></div>
        <div class="container p-0">
            <h4>High Quality and Standard</h4>
            <p>Use standard tools, technologies and techniques for provied the best quality of products for our customers.</p>
        </div>
        <div class="container p-0" style="height:30px"></div>
        <div class="container p-0">
            <h4>Cost Effective Solutions</h4>
            <p>Based on your budget, you can choose and discuss with us for get the best thing without wasting your money.</p>
        </div>

        <div class="row" style="height:20px"></div>
    </div>


</div>


