<div class="container" style="font-family: SignikaNegative-Regular; background-color: white; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px ">
    <div class="row" style="">
        <div class="col-12">
            <img src="~/images/header.jpg" style="height:150px;width:100%; overflow:hidden" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>System Analyze and Design</h2>
        </div>
    </div>

    <div class="row" style="height:20px"></div>
</div>

<style>

</style>
