<div class="pagewrap box-parent">
    @*<div class="box"></div>*@

    <div class="pageblock" id="fullscreen">
        <div class="slider">
            <div class='slide' id="first">
                <div class="slidecontent">
                    <div class="container">
                        <h4 class="">Software Development</h4>
                        <p id="txt-slide-a">We are developing sofware systems totally based on your requirments. You can customize everything.</p>
                        <a asp-action="/more-about/1" asp-rout class="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class='slide' id="sec">
                <div class="slidecontent">
                    <div class="container">
                        <h4>Web Site Design</h4>
                        <p id="txt-slide-b">You can make your own Personal, Professional and Business web sites just calling us.</p>
                        <a asp-action="/more-about/2" asp-rout class="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class='slide' id="thirth">
                <div class="slidecontent">
                    <div class="container">
                        <h4>Help and Suppoort 24x7</h4>
                        <p id="txt-slide-c">We provide help and guidance for users and express your ideas using technology.</p>
                        <a asp-action="/more-about/3" asp-rout class="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class='slide' id="fourth">
                <div class="slidecontent">
                    <div class="container">
                        <h4>High Quality and Standard</h4>
                        <p id="txt-slide-d">Use standard tools, technologies and techniques for provied the best quality of products for our customers.</p>
                        <a asp-action="/more-about/4" asp-rout class="button">Read More</a>
                    </div>
                </div>
            </div>
            <div class='slide' id="fifth">
                <div class="slidecontent">
                    <div class="container">
                        <h4>Cost Effective Solutions</h4>
                        <p name="test" id="txt-slide-s">Based on your budget, you can choose and discuss with us for get the best thing without wasting your money.</p>
                        <a asp-action="/more-about/5" asp-rout class="button">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
