<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--tab icon and title-->
    <link rel="icon" type="image/png" sizes="114x114" href="~/images/title/codexwide.png">

    <meta name="google-site-verification" content="S8xs6dfe9RgRCD9LgcUkwfTlXVO1YCUsZnsaju6Sdxw" />

    <title>CodeXwide&trade; &bull; @(ViewData["Title"]??"Web & Software Development")</title>

    @await Html.PartialAsync("~/Views/Components/Preloader/_Preloader.cshtml")

    @await Html.PartialAsync("~/Views/Shared/_TopScriptPartial.cshtml")

    <link href="~/footer/StyleSheet.css" rel="stylesheet" />


</head>
<body style="background:#fff; background-image:url(/images/background.jpg)" class="bgimg">


    @await Html.PartialAsync("~/Views/Components/MainMenu/_MainMenu.cshtml")

    <div class="container-fluid" style="padding:0px">

        @RenderBody()

    </div>

    @await Html.PartialAsync("~/Views/Components/Footer/_Footer.cshtml")


    @await Html.PartialAsync("~/Views/Shared/_BottomScriptPartial.cshtml")

    @await Html.PartialAsync("~/Views/Components/ScrollTop/_ScrollTop.cshtml")


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
