



<div id="cont-main" style="font-family: SignikaNegative-Regular">
    
    <svg id="svg" viewBox="0 8 119 10" style="/* 6 116 bottom: 0px; *//* top: 2247.05px; */">
        <defs>
            <mask id="xxx">
                <circle cx="7" cy="12" r="40" fill="#fff" />
            </mask>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="
                           1 0 0 0 0
                           0 1 0 0 0
                           0 0 1 0 0
                           0 0 0 13 -9" result="goo" />
                <feBlend in="SourceGraphic" in2="goo" />
            </filter>
            <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
        </defs>

        <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0"></use>


        <g class="gooeff">
            <circle class="drop drop1" cx="20" cy="11.5" r="1.8" />
            <circle class="drop drop2" cx="25" cy="11.5" r="1.5" />
            <circle class="drop drop3" cx="16" cy="11.5" r="1.2" />
        </g>
        <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />



        <div id="cont" class="container-fluid " style="">

            <div class="row" style="background-color:#fff">
                <div class="container mb-3" style="">
                    <div class="row">
                        <div class="col-md-4">

                            <ul class="mt-2 mb-2">
                                <li><h5 class="font-style-b"><img src="~/images/codexwide.png" style="width:35px" /> CodeXwide</h5></li>
                                <li><p class="font-style-b">CodeXwide provide client based web & software developments. Build-up your own web or software by contacting us.</p></li>
                         
                                <li>
                                    <ul id="social-links">
                                        <li class="pt-2 ml-0"><h5 class="font-style-b">Meet Us</h5></li>
                                        <li><a class="socal-btn p-0" style="box-shadow:none"><img src="images/footer/meeting/teams.png" style="width:36px" /></a></li>
                                        <li><a class="socal-btn p-0" style="box-shadow:none"><img src="images/footer/meeting/zoom.png" style="width:36px" /></a></li>
                                        <li><a class="socal-btn p-0" style="box-shadow:none"><img src="images/footer/meeting/skype.png" style="width:36px" /></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="mt-2 mb-2">
                                <li><h5 class="font-style-b">Over View</h5></li>

                                <li class="pt-2">
                                    <ul id="child-menu">
                                        <li class="pl-0 ml-0"><a class="pl-0 ml-0" style="">SignUp</a></li>
                                        <li><a class="" style="">SignIn</a></li>
                                        <li><a class="" style="">SiteMap</a></li>
                                        <li><a class="" style="">Other</a></li>
                                    </ul>
                                </li>

                                <li class="mt-3"><h5 class="font-style-b">Contact Us</h5></li>
                                <li class="mt-2"><a class="font-style-b" href="www.casln.com"><i class="fas fa-envelope"></i>&nbsp;caathu@gmail.com</a></li>
                                <li class="mt-0"><a class="font-style-b" href="www.casln.com"><i class="fas fa-phone-alt"></i>&nbsp;071-549 6663</a><span>&nbsp;|&nbsp;</span><a class="font-style-b" href="www.casln.com" >077-432 8779</a></li>                               
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="mt-2 mb-2">
                                <li><h5 class="font-style-b">News Letter</h5></li>
                                <li>
                                    <div class="input-container mt-2">
                                        <input type="text" placeholder="Enter Email Address" class="input-field">
                                        <button class="input-button" style="border-radius: 30px;border: solid black 1px;width: 94px;padding: 5px;">
                                            Subscribe
                                        </button>
                                    </div>
                                </li>


                                <li class="mt-3"><h5 class="font-style-b">Follow Us</h5></li>
                                <li>
                                    <ul id="social-links">
                                        <li class="ml-1"><a class="socal-btn" style="background: #3b5998;"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="socal-btn" style="background: #db4a39;"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a class="socal-btn" style="background: #FF0000;"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="socal-btn" style="background: #00acee"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="socal-btn" style="background: #8a3ab9"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </li>




                                @*<li class="mt-3">
                                    <div>
                                        <div id="google_translate_element"></div>
                                        <script type="text/javascript">
                                            function googleTranslateElementInit() {
                                                new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                                            }
                                        </script>
                                        <style>
                                            .goog-te-combo {
                                                font-size: 15px;
                                                border-radius: 21px;
                                                padding: 3px 5px;
                                                border: solid 1px #000;
                                            }
                                        </style>
                                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                                    </div>
                                </li>*@

                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="container-fluid p-0" style=" background-color: #fff; border-top: solid #bababa 1px">
            <div class="container" style="background-color:transparent">
                <p style="margin:0;padding:0;" id="footer-p">
                    All Rights Received by
                    <img class="" style="height: auto; margin-left: 0px; padding: 0px 0px 3px 0px; width: 19px;" src="~/images/title/codexwide.png" alt="" />
                    CodeXwide&trade; &copy;2016-2021
                </p>
            </div>
        </div>

    </svg>
</div>


<style>
 

    #child-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
    }

        #child-menu li {
            float: left;
            margin: 5px;
        }

            #child-menu li a {
                display: block;
                color: #000;
                text-align: left;
                text-decoration: none;
                
                padding: 0px 4px;
            }







    .socal-btn {      
        border-radius: 30px;
        padding: 5px;
        width: 35px;
        height: 35px;       
    }
    #social-links li a:hover {
        background-color: #fff !important;
        color: #000;
        cursor:pointer;
    }

    #social-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;       
    }
    #social-links li {
        float: left;
        margin: 10px;
    }
        #social-links li a {
            display: block;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            padding: 5px 6px;
            box-shadow: 0 0 4px black;
        }
       

    /*subscribe text*/
    
    .font-style-b {
        text-shadow: 0px 0px 5px #ffffff;
        color: #000000;
    }

    .font-style-w {
        text-shadow: 0px 0px 5px #000;
        color: #fff;
    }

    .input-container {
        width: 100%;
        border: 1px solid #000000;
        display: inline-block;
        border-radius: 30px;

    }

    .input-container input:focus, .input-container input:active {
        outline: none;
    }

    .input-container input {     
        width: 66%;
        border: none;
        border-radius: 30px;
        background: transparent;
        padding: 6px 8px;
    }

    .input-container button {
        float: right;
    }


</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>