
<div class="demo" style="font-family: SignikaNegative-Regular">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="pricingTable bg-blue">
                    <div class="pricingTable-header">
                        <span class="price-value">10<span class="currency">$</span></span>
                        <h3 class="title">Standard</h3>
                    </div>
                    <ul class="pricing-content">
                        <li>Up to 10 Pages</li>
                        <li>Fully Customize</li>
                        <li>Email Integration</li>
                        <li>Link to Social Media</li>
                        <li>Free Maintainance</li>
                    </ul>
                    <a href="#" class="pricingTable-signup">More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="pricingTable green bg-green">
                    <div class="pricingTable-header">
                        <span class="price-value">20<span class="currency">$</span></span>
                        <h3 class="title">Business</h3>
                    </div>
                    <ul class="pricing-content">
                        <li>Up to 25 Pages</li>
                        <li>Limited Control Pannel</li>
                        <li>Google Regstrations</li>
                        <li>Social Media Integration</li>
                        <li>Free Help and Support</li>
                    </ul>
                    <a href="#" class="pricingTable-signup">More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="pricingTable orange bg-organge">
                    <div class="pricingTable-header">
                        <span class="price-value">30<span class="currency">$</span></span>
                        <h3 class="title">Premium</h3>
                    </div>
                    <ul class="pricing-content">
                        <li>Unlimit Pages</li>
                        <li>Single User Login</li>
                        <li>Fully Control Pannel</li>
                        <li>Multi Language Support</li>
                        <li>Limited Images Designs</li>                        
                    </ul>
                    <a href="#" class="pricingTable-signup">More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="pricingTable purple bg-red">
                    <div class="pricingTable-header">
                        <span class="price-value">40<span class="currency">$</span></span>
                        <h3 class="title">Advance</h3>
                    </div>
                    <ul class="pricing-content">
                        <li>Unlimited User Logins</li>
                        <li>Multi Level Control Panels</li>
                        <li>Report Generating</li>
                        <li>System tracking and monitoring</li>
                        <li>Online Payment Hnadling</li>
                    </ul>
                    <a href="#" class="pricingTable-signup">More</a>
                </div>
            </div>
        </div>
    </div>
</div>